.table {
    border-collapse: collapse;
    width: 700px;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
}

.thead th {
    border: 2px solid #000000;
    padding: 8px;
    background-color: #353535;
    color: white;
}

.tbody td {
    border: 2px solid #000000;
    padding: 8px;
    &:first-child {
        text-transform: capitalize;
    }
}

.tbody tr:nth-child(2n) {
    background-color: rgb(193, 193, 193);
}