@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    > * > :nth-child(n + 1) {
        margin-bottom: 60px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}